@import "tailwindcss";

:root {
  --bears-navy: #0b162a;
  --bears-orange: #c83803;
  --bears-gray: #a5acaf;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--bears-navy);
    --foreground: #ffffff;
  }
}

body {
  background: var(--bears-navy);
  color: white;
}
